html,
body {
	align-items: center;
	font-family: sans-serif;

}
.course-title{
	font-size: 32px;
	text-align: center;
}
footer{
	margin:30px;
	text-align: center;
}
.black-color{
	color: black;
}
.img-hight{
	height: 250px;
}
.left-mar{
	margin-left: 12px;
}
